.App {
  overflow-y: hidden;
  /* text-align: center; */
  background-repeat: no-repeat;
  background-image: url("./logo.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: 100% 100vh;
  @media  (max-width: 768px) {
    background-image: url("./logo.jpg");
    background-size: 133% 100vh;
  }
}

.form-css{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

form{
  padding: 21px 86px 49px 51px;
  @media  (max-width: 768px) {
    padding: 21px 56px 49px 17px;
  }
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */


  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */

  /* font-size: calc(10px + 2vmin); */
  /* color: red; */

  @media (max-width: 768px) {
    /* color: red; */

  }

}

h1{
  text-align: center;
  color: darkgoldenrod;
  font-size: 2rem;
  font-weight: bold;
  /* color: red; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2{
  /* text-align: center; */
  color: rgb(255, 255, 255);
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold;
  /* color: red; */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}

.box-css{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 550px;
  @media (max-width: 768px) {
    width: 80%;
  }

}

input {
  width: 100%;
  border: 1px rgba(34, 31, 31, 0.6);
  color: black;
  outline: none;
  padding: 1rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background: pink;
  outline: none;
  margin-bottom: 1.5rem;
  
}
label {
  display: inline-block;
  font-size: 20px;
  /* color: rgba(34, 31, 31, 0.6); */
  margin-bottom: 4px;
  font-family: roboto;
  font-weight: 600;
  margin-top: 16px;
}

.button-css {
  height: 5vh;
  text-align: center;
  margin-left: 0%;
  padding: 5px 10px;
  background-color: brown;
  color: floralwhite;
  cursor: pointer;
  border: none;
  width: 54%;
  border-radius: 10px;
  @media (max-width: 768px) {
    background-color: crimson;
  }
}

.pop-up-css {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #61dafb;
  border: 1px solid burlywood;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  width: 50%;
  text-align: start;
  color: black;
  @media (max-width: 768px) {
  }
  width: 73%;
}

.details-css {
  text-decoration: underline;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
